### Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import openpyxl

### Read The Data

In [4]:
df = pd.read_excel("employees_data.xlsx")

In [5]:
df.shape

(100, 8)

In [6]:
df.head()

,Department,Status,Hire Date,Years,Benefits,Compensation,Job Rating,New Comp.
0,Quality Control,Full Time,2013-11-02,9,M,119407,4,122786
1,Creative,Full Time,2006-05-15,17,D,119221,4,122595
2,Manufacturing,Full Time,2006-03-07,17,M,119062,5,122431
3,Account Management,Contract,2016-10-09,7,NaN,118969,2,122336
4,Quality Control,Full Time,2016-03-04,7,R,118782,5,122144

### Cleaning Column Names

In [7]:
df.columns = [c.strip().replace(" ", "_") for c  in df.columns]

In [8]:
df.columns

Index(['Department', 'Status', 'Hire_Date', 'Years', 'Benefits',
       'Compensation', 'Job_Rating', 'New_Comp.'],
      dtype='object')

### Craete Second DF from Original DF

In [16]:
contract_filt = df["Status"] == "Contract"

In [17]:
contract_filt = df.loc[contract_filt, ["Department", "Hire_Date", "Years", "Compensation"]]
contract_filt.head(10)

                Department  Hire_Date  Years  Compensation
3       Account Management 2016-10-09      7        118969
6            Manufacturing 2012-10-03     11        118171
11           Manufacturing 2016-05-26      7        116814
15  Facilities/Engineering 2005-02-24     18        115670
20                     ADC 2016-11-15      6        115045
21           Manufacturing 2012-08-07     11        114806
22         Quality Control 2015-11-26      7        114726
26     Product Development 2017-06-11      6        114274
27           Manufacturing 2007-11-27     15        114220
29       Quality Assurance 2012-07-04     11        113449

### Craete Third DF from Original DF

In [18]:
full_time_filt = df["Status"] == "Full Time"

In [19]:
full_time_filt = df.loc[full_time_filt, ["Department", "Hire_Date", "Years", "Compensation", "Job_Rating"]]
full_time_filt.head(10)

                     Department  Hire_Date  Years  Compensation  Job_Rating
0               Quality Control 2013-11-02      9        119407           4
1                      Creative 2006-05-15     17        119221           4
2                 Manufacturing 2006-03-07     17        119062           5
4               Quality Control 2016-03-04      7        118782           5
5             Quality Assurance 2017-01-20      6        118556           1
7               Quality Control 2016-05-24      7        118157           5
8   Professional Training Group 2004-06-28     19        117359           5
9            Account Management 2018-06-23      5        117013           1
10                           IT 2016-10-07      7        116974           4
12                Manufacturing 2009-02-06     14        116082           4

## Main Step: Appending

### Appending The New DFs To The Existing Excel File, But New Sheets

In [20]:
with pd.ExcelWriter("employees_data.xlsx", mode="a", if_sheet_exists="overlay") as writer:
    contract_filt.to_excel(writer, sheet_name="contract_employees", index=False)    
    full_time_filt.to_excel(writer, sheet_name="full_time_employees", index=False)